@import "../../global.scss";

.portfolio {
  background-color: white;
  h1{
    font-size: 40px;
  }

  #leftbox {
    margin-left: 10px;
    float:left; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20%;
    background:darksalmon;
    width:400px;
    height:280px;   
  }
  #middlebox{
    float:left; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    border-radius: 20%;
    float:left; 
    background:lightslategray;
    width:400px;
    height:280px;
  }
  #rightbox{
    float:left; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float:right;
    border-radius: 20%;
    background:darkseagreen;
    width:400px;
    height:280px;
    margin-right: 10px;

  }
  h1{
    color:black;

    text-align:center;
  }

  
  .arrow {
    // position: absolute;
    // bottom: 10px;
    // left: 40%;
    margin-left: 900px;
    margin-top: 50px;
    width: 30px;
    animation: arrowBlink 2s infinite;
  }

  @keyframes arrowBlink {
    100% {
      opacity: 0;
    }
  }
}