@import "../../global.scss";


.portfolio {
  background-color: white;
  //display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mobile {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

 
    h1{
      margin-left: 5%;
      font-size: 40px;
      @include mobile{
        margin-left: 5%;
        font-size: 20px;
      }
    }


  #leftbox {
 
    float:left; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20%;
    margin-left: 1%;
    margin-right: 1%;
    background:darksalmon;
    width:32%;
    height:280px;   
    @include mobile{
      width:32%;
      height:180px;
    }
  }
  #middlebox{
    float:left; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20%;
    float:right;
    background:lightslategray;
    width:32%;
    height:280px;
    @include mobile{
      width:32%;
      height:180px;
    }
  }
  #rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //float:right;
    border-radius: 20%;
    
    background:darkseagreen;
    width:32%;
    height:280px;
    @include mobile{
      width:32%;
      height:180px;
    }
  }
  h1{
    color:black;

    text-align:center;
  }

  
  .arrow {
    // position: absolute;
    // bottom: 10px;
    // left: 40%;
    margin-left: 900px;
    margin-top: 50px;
    width: 30px;
    animation: arrowBlink 2s infinite;
  }

  @keyframes arrowBlink {
    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 500px) {
  
    #leftbox,
    #middlebox,
    #rightbox {
        width: 70%;
    }
}
}